{% extends 'base.html' %}
{% block title %}Товари{% endblock %}
{% block content %}
<h1>Товари</h1>

<p><a href="{% url 'product-add' %}"><button>Додати товар</button></a></p>

<ul>
  {% for product in products %}
    <li>
      {{ product.title }} - {{ product.price }} грн
      <a href="{% url 'product-edit' product.pk %}">[Редагувати]</a>

      <form action="{% url 'add-to-cart' product.pk %}" method="post" style="display:inline;">
          {% csrf_token %}
          <button type="submit">Додати в кошик</button>
      </form>
    </li>
  {% empty %}
    <li>Немає товарів</li>
  {% endfor %}
</ul>
{% endblock %}
