{% load static %}
{% load custom_tags %}

<nav>
  <a href="{% url 'home' %}" class="{% if request.path == '/' %}active{% endif %}">Головна</a>
  <a href="{% url 'product-list' %}" class="{% if request.path|startswith:'/products' %}active{% endif %}">Товари</a>

  {% if user.is_authenticated %}
    {% if user.role == "is_seller" %}
      <a href="{% url 'product-add' %}" class="{% if request.path == '/products/product/add/' %}active{% endif %}">Створити товар</a>
    {% endif %}

    <a href="{% url 'cart' %}" class="{% if request.path == '/orders/cart/' %}active{% endif %}">Кошик</a>
    <a href="{% url 'order-list' %}" class="{% if request.path == '/orders/' %}active{% endif %}">Замовлення</a>
    <a href="{% url 'profile' user.pk %}" class="{% if request.path == '/users/profile/'|add:user.pk|stringformat:"s" %}active{% endif %}">Профіль</a>

    <form action="{% url 'logout' %}" method="post" class="logout-form">
        {% csrf_token %}
        <button type="submit">Вийти</button>
    </form>
  {% else %}
    <a href="{% url 'login' %}" class="{% if request.path == '/users/login/' %}active{% endif %}">Увійти</a>
    <a href="{% url 'register' %}" class="{% if request.path == '/users/register/' %}active{% endif %}">Реєстрація</a>
  {% endif %}
</nav>
